<div class="row">
  <div class="col-10">
    <div class="weather-wrapper">
    <div class="weather-card">
        <div class="header">
            <div class="weather-icon">
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>

            </div>
            <div class="weather-temp">
                <h1>26ºc</h1>
                <p>Madrid</p>
            </div>
        </div>
        <div class="weather-detail">

            <h6>overcast clouds</h6>
        </div>

    </div>
</div>
    </div>
  </div>
</div>

<h4>
  {{ weather | json }}
</h4>

<label class="switch"><input type="checkbox" id="togBtn">
  <div class="slider round"></div>
</label>
<i class="owf owf-302 owf-5x"></i>