<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1 class="heading font-regular m-0">Weather</h1>
      <h6 class="m-0">Get the weather report</h6>
    </div>
    <div class="col-3 right">
      <button class="toggle-theme" (click)="switch()"> {{ darkTheme ? 'Light': 'Dark' }} </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>{{userPosition | json}}</h4>
      <i class="owf owf-302 owf-5x"></i>
      <label class="switch"><input type="checkbox" id="togBtn">
        <div class="slider round"></div>
      </label>
    </div>
  </div>
</div>