/* You can add global styles to this file, and also import other style files */
@import './assets/css/simple-grid.css';
@import './assets/css/owfont-regular.css';
:root {
  --white: #fdfffc;
  --blue: #2ec4b6;
  --pink: #e71d36;
  --yellow: #ff9f1c;
  --primary: #011627;
  //theme
  --bg: #fdfffc;
  --text-color: #011627;
}
body {
  background: var(--bg);
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
}

.dark {
  --bg: #011627;
  --text-color: #fdfffc;
}
